@model List<PassGuard.Models.Home>

@{
    ViewData["Title"] = "Property";
}

<h2>Property Information</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Add</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Estate Name</th>
            <th>Owner User Id</th>
            <th>Home Address</th>
            <th>Total Visits</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Estate.EstateName</td>
                <td>@item.OwnerUserId</td>
                <td>@item.Address</td>
                <td>@item.VisitPasses.Count</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.HomeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.HomeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.HomeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
