@model PassGuard.Models.VisitPass

@{
    ViewData["Title"] = "Access Details";
}

<h2>Access Details</h2>

<p><strong>Visitor Name:</strong> @Model.VisitorName</p>
<p><strong>Visitor Phone:</strong> @Model.VisitorPhone</p>
<p><strong>Estate Name:</strong> @Model.Home.Estate.EstateName</p>
<p><strong>Owner Name:</strong> @Model.Home.OwnerName</p>
<p><strong>Home Address:</strong> @Model.Home.Address</p>

<hr />

<h4>VisitPass Info</h4>
<p><strong>Status:</strong> @Model.Status</p>
<p><strong>Created At:</strong> @Model.CreatedAt</p>
<p><strong>Expires At:</strong> @Model.ExpiresAt</p>

<hr />

<h4>Check-In Info</h4>



@if (Model.GateCheckIns.Count > 0)
{
    foreach (var item in Model.GateCheckIns.OrderByDescending(g => g.CheckInTime))
    {
        <p><strong>Result:</strong> @item.Result</p>
        <p><strong>Time:</strong> @item.CheckInTime</p>
        <p><strong>Note:</strong> @item.Note</p>
        <p>
            <a asp-controller="GateCheckIn" asp-action="Edit" asp-route-id="@item.GateCheckInId">Edit Check-In</a> |
            <a asp-controller="GateCheckIn" asp-action="Delete" asp-route-id="@item.GateCheckInId">Delete Check-In</a>
        </p>
        <hr />
    }
}
else
{
    <p>No check-in records found.</p>
}