@model PassGuard.Models.VisitPass

@{
    ViewData["Title"] = "Access Details";
}

<h2>Access Details</h2>

<p><strong>Visitor Name:</strong> @Model.Visitor.FullName</p>
<p><strong>Visitor Phone:</strong> @Model.Visitor.Phone</p>
<p><strong>Estate Name:</strong> @Model.Home.Estate.EstateName</p>
<p><strong>Owner User Id:</strong> @Model.Home.OwnerUserId</p>
<p><strong>Home Address:</strong> @Model.Home.Address</p>

<hr />

<h4>VisitPass Info</h4>
<p><strong>Status:</strong> @Model.Status</p>
<p><strong>Created At:</strong> @Model.CreatedAt</p>
<p><strong>Expires At:</strong> @Model.ExpiresAt</p>

<hr />

<h4>Check-In Info</h4>



@if (Model.GateCheckIn != null)
{
    <p><strong>Result:</strong> @Model.GateCheckIn.Result</p>
    <p><strong>Time:</strong> @Model.GateCheckIn.CheckInTime</p>
    <p><strong>Security User Id:</strong> @Model.GateCheckIn.SecurityUserId</p>
    <p><strong>Note:</strong> @Model.GateCheckIn.Note</p>
    <p>
        <a asp-controller="GateCheckIn" asp-action="Edit" asp-route-id="@Model.GateCheckIn.GateCheckInId">Edit Check-In</a> |
        <a asp-controller="GateCheckIn" asp-action="Delete" asp-route-id="@Model.GateCheckIn.GateCheckInId">Delete Check-In</a>
    </p>
}
else
{
    <p>No check-in records found.</p>
}
